<form>
<label for="question" class="form-label">Question: {{model.question}}</label>
{{input type="text" id="question" value=model.question}}
{{#each model.options as |option|}}
	<label>
	{{option.value}} @...
	{{input type="checkbox" min="0" value=option.id}}
	</label>
{{/each}}

<input type="submit" type="Poll" value="Vote">
</form>