<header class="container">
<h1>Wilderness Safety Quiz</h1>
</header>
<main class="container">
<div class="row">
{{outlet}}
</div>
</main>
<footer class="container footer">
&copy;Woodland Wanderer Whatchamacallits
</footer>