<div class="col-md-4">
<ul>
  {{#each model as |poll|}}
  <li>
    {{#link-to "polls.poll" poll}}{{poll.question}}{{/link-to}}
  </li>
  {{/each}}
 </ul> 
</div>
<div class="col-md-8">
<h4>Check out previous questions from Woodland Wanderers:</h4>
{{outlet}}
</div>